################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Files
/Debug
/.vs
/ArcanumWorld.vcxproj.user
/ArcanumWorld.vcxproj.filters
/ArcanumWorld.vcxproj
/ArcanumWorld.sln
/SDL2.dll
